@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

    /* heavier pink:  #e65f73; 
       deep red: #e60829
       mid-green: rgb(173, 187, 109) 
       mid-blue: rgb(143, 176, 197)*/

* {
    box-sizing: border-box;
}

body {
    
    background-color:floralwhite;
    color: rgb(2, 105, 173);
    font-family:'Source Serif Pro', Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.096);
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: underline dotted;
    color: #000000;
    text-decoration-color: #0000003b;

}


main {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 212, 206);
    text-align:center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 -.75rem 0;
    padding: 1.5rem 0 0 0;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    margin: initial auto;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav li {
    text-align: center;
    margin: 1rem;
    height: min-content;
}

nav a {
    color:#d86a04;
    text-decoration-color: #d86b0462;
}

section {
    padding: 2rem;
}

section:nth-of-type(1) {
    color:rgb(212, 66, 8);
    padding: 0;
    margin: 0;
}

section:nth-of-type(2) {
    background-color:rgb(253, 217, 185);
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    color: rgb(177, 83, 1);

}

section:nth-of-type(3) {
    background-color:rgb(253, 248, 200);
    color:rgb(204, 116, 1);
}

section:nth-of-type(4) {
    background-color:rgb(220, 240, 220);
    color:rgb(35, 117, 128);
}

section:nth-of-type(5) {
    background-color: lightcyan;
}

ol {
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}

ol li {
    display: inline-block;
    border: 1px dashed;
    margin: .5rem;
    width: 8rem;
    height: 8rem;
    padding: .5rem;
}

.labs li,
nav li {
    list-style: none;
}

footer {
    background-color: lavender;
    color: rgb(55, 55, 143);
    margin: 0;
    padding: 1rem 0 .5rem 0;
    text-align:center;
    font-size: 1.25rem;
}